
.input--wrapper {
    position: relative;
}

.input--label {
    position: absolute;
    top: 4px;
    left: 25px;
    font-size: 11px;
    font-weight: 600;
}

.input--field {
    padding: 17px;
    border-radius: 20px;
    margin: 2px;
    font-size: 16px;
    transition: border-color 0.15s ease-in;
    color: chocolate;
}

.input--field:focus { 
    border-color:  chocolate;
    border-width: 3px;
}