

.form, .contact--from, .form--content, .contact--info-half, .contact--icon--wrapper {
    display: flex;
    font-family: serif;
}

.form {
    height: 610px;
    margin: 10px;
    background: white;
    border-radius: 10px;
}

.contact--from {
   width: 100%; 
}

.contact--info-half, .form--content, .thank--you-wrapper  {
    width: 50%;
}
.contact--info-half {
    background-color: rgba(121, 44, 215);
    color: #ffff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.subinfo--wrapper {
    margin: 15px;
    padding: 10px
}
.contact--icon--wrapper {
    /*justify-content: space-evenly;*/
    align-items: center;
    padding: 15px;
}
.subinfo--icon {
    margin-right: 5px;
    max-width: 50px;
}

.contact--from {
    justify-content: center;
    align-items: center;
}

.form--content {
    flex-direction: column;
    align-items: inherit;
    padding: 10px;
}

.input--wrapper {
    position: relative;
    /*padding: 5px 55px 5px 55px;*/
    padding: 5px;
}

.input--label {
    font-size: 12px;
    position: absolute;
    left: 25px;
    top: 5px;
}

.contact--input {
    padding: 20px 70px;
    /*border: 1px solid #7363fc00;*/
    border-radius: 10px;
    transition: border-color 0.15s ease-in;
    font-size: 20px;
}

.contact--input:focus {
    border-color: rgb(122, 122, 244);
    border-width: 3px;
    box-shadow: 1px 1px 0px rgba(121, 44, 215, 0.2);
}

.text--area {
    resize: unset;
}

.contact--form-button {
    background-color: rgba(121, 44, 215) ;
    color: #ffff;
    padding: 20px 50px;
    font-size: 20px;
    border: none;
    border-radius: 10px ;
    cursor: pointer;
}


.thank--you-wrapper {
    text-align: center;
    background-color: beige;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}