
.item--wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 4px;
    border-radius: 2px;
    overflow-y: auto;
    margin: 0px 10px;
    height: 66vh; /*70vh*/
}

.item--container {

    background: white;
    color: chocolate;
    flex-shrink: 1;
    display: flex;
    flex-basis: 15%;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 24px 24px;
    box-shadow: 2px 5px 4px 4px;
    text-align: center;
    border-radius: 2px;
    min-height: 40vh;
}

.icon--wrapper {
    display: flex;
    justify-content: flex-end;
}

.image--icon-item {
    width: 30px;
    height: 30px;
    padding-right: 4px;
    cursor: pointer;
}


/*What to do with heading and paragraf*/

.item--heading {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}

.date--container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.edit--input-wrapper {
    padding: 10px;
}

.edit--input-item {
    margin: 2px;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
}

.create--wrapper {
    display: flex;
    padding: 35px;
}

